<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form">
    <div class="background-filter">
      <div class="shape1"><img src="../../assets/shapee1.png" /></div>
      <div class="shape2"><img src="../../assets/shape2.png" /></div>

      <ion-card>
        <ion-card-header>
          <ion-card-title>
            Hello!
          </ion-card-title>
          <ion-card-subtitle>
            Login and book your book
          </ion-card-subtitle>
        </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input [(ngModel)]='email'></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input type="password" [(ngModel)]='password'></ion-input>
        </ion-item>
        <br>

        <ion-button class='login-btn' (click)='login()' expand='block'>Login</ion-button>

        <h5 (click)='signup()'>Don't have account? <ion-text color='success'>Sign up </ion-text></h5>
      </ion-card-content>
    </ion-card>
    </div>
  </div>
</ion-content>