ion-content {
  --ion-background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.form {
  height: 100vh;
  width: 100%;
  background: url("../../assets/bg-books.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.background-filter {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ion-card {
  margin-top: 130px;
  background: transparent;
  box-shadow: none;
  text-align: center;
}

.ion-card ion-card-title {
  color: #242020;
  font-size: 30px;
}

.ion-card ion-card-subtitle {
  color: #BBBBBB;
  font-size: 14px;
  font-weight: 400;
}

.ion-card ion-card-content {
  margin-top: 30px;
}

.ion-card ion-card-content ion-item {
  --ion-item-background: transparent;
  --border-width: 0;
  --inner-border-width: 0;
  --highlight-color-focused: none;
  margin-bottom: 15px;
}

.ion-card ion-card-content ion-item ion-input {
  width: 257px;
  height: 42px;
  border-radius: 15px;
  border: 1px solid #198645;
  font-size: 14px;
  font-weight: 300;
  color: #555B5B;
  --padding-start: 30px;
}

.ion-card ion-card-content a {
  text-decoration: none;
  color: #589B3F;
  font-weight: 300;
  font-size: 13px;
}
