<div class="middle-button-container">
  <p style="text-align: center">
    <ion-fab style="margin-top: -75px; margin-left: -30px">
      <ion-fab-button
        style="--background: #ebb963"
        size="medium"
        (click)="goToCart()"
      >
        <div class="cart-length">{{ cartItemCount | async }}</div>
        <ion-icon
          name="cart-outline"
          style="color: #283618"
          size="large"
        ></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </p>
</div>

<div class="tabs">
  <ion-tabs style="color: #7f9270">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline" size="large"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="cart">
        <!-- <ion-icon name="cart-outline"></ion-icon> -->
      </ion-tab-button>
      <ion-tab-button tab="profile">
        <ion-icon name="person-circle-outline" size="large"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</div>
