ion-content {
  --ion-background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.form {
  height: 100%;
  width: 100%;
  background: url("../../assets/bg-books.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.background-filter {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.35);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.background-filter ion-card-content ion-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 20px;
}

.shape1 {
  position: fixed;
  top: 0;
  right: 0;
}

.shape2 {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-bottom: -20px;
  margin-left: -15px;
  padding: 0;
}

.signup-btn {
  --background: #866046;
  --background-activated: #76543e;
  --background-focused: #76543e;
  --background-hover: #76543e;
}

h5 {
  align-items: center;
  text-align: center;
}
