<ion-content>
  <div class="main-cont">
    <div class="user-div">
      <ion-label class="username">username</ion-label>
      <!-- <ion-icon name="person-circle-outline"></ion-icon> -->
      <div class="preview">
        <ion-avatar>
          <img
            *ngIf="profile?.imageUrl; else placeholder_avatar;"
            [src]="madePic.image"
          />
          <ng-template #placeholder_avatar>
            <div class="fallback">
              <p>Select avatar</p>
            </div>
          </ng-template>
        </ion-avatar>
      </div>
    </div>
  </div>
  <div class="cont-div">
    <div class="details">
      <ion-grid fixed>
        <ion-row>
          <ion-col>
            <div class="flex-div">
              <div class="round-div">
                <ion-icon name="book-outline"></ion-icon>
              </div>
              <div class="more">
                <ion-label class="number">40</ion-label>
                <ion-label> books purchased </ion-label>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="menu">
      <ion-label> Orders History </ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
    <div class="menu" (click)="changePic()">
      <ion-label> Change Profile Picture </ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
    <div class="menu">
      <ion-label> Change Password </ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
    <div class="menu" (click)="logout()">
      <ion-label> Log out </ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
  </div>
</ion-content>
