.main-cont{
    width: 100%;

    .user-div{
        padding: 20px;
        width: 100%;
        height: 250px;
        background: linear-gradient(to right, #7F9270, #445128);
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        margin-bottom: 20px;
        .username{
            padding-top: 110px;
            font-size: 20px;
            color: white;
            font-weight: bold;
            margin-left: 40px;
        }
        ion-icon{
            height: 100px;
            width: 100px;
            color: white;
            margin-right: 20px;
        }

        ion-avatar{
            width: 120px;
            height: 120px;
        }

        .preview{
            margin-top: 50px;
            display: flex;
            justify-content: right;
        }

        .fallback{
            width: 120px;
            height: 120px;
            border-radius: 50%;
            background: #bfbfbf;

            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 500;
        }
    }
}

.cont-div{
    background: white;
    width: 100%;
    border-top-left-radius: 70px;
    margin-top: -100px;
    padding: 20px;
    padding-top: 30px;
    .details{
        background: #f7eddb;
        width: 100%;
        margin-top: 20px;
        border-radius: 5px;
        box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
        padding: 10px;
        ion-grid{
            padding: 0;
            ion-col{
                padding: 10px;
            }
            .flex-div{
                display: flex;
                flex-direction: row;
                align-items: center;

                .round-div{
                    height: 55px;
                    width: 55px;
                    border-radius: 100%;
                    background-color: #7F9270;
                    position: relative;
                    ion-icon{
                        height: 35px;
                        width: 35px;
                        color: white;
                        position: absolute;
                        top: 50%;
                        left:50%;
                        transform: translate(-50%, -50%);
                    }
                }
                .more{
                    padding: 20px;
                    .number{
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .menu{
        background: #f7eddb;
        display: flex;
        justify-content: space-between;
        border-radius: 5px;
        box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
        margin-top: 10px;
        padding: 15px;
    
        ion-icon{
            font-size: 20px;
        }
    }
}  


