ion-header .banner {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: black;
}

ion-header .banner2 {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #c69f5d;
  margin-top: -20px;
}

ion-header ion-toolbar {
  --background: #f7eddb;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ion-content {
  --background: #f7eddb !important;
  font-family: Arial !important;
}

ion-content .searchbar {
  padding: 0px;
  position: absolute;
  left: 0;
  right: 0;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 150px;
}

ion-content .searchbar ion-searchbar {
  --border-radius: 10px;
  color: gray;
  --background: #f8f5f1;
}

ion-card {
  text-align: center;
  align-items: center;
  padding: 0px;
  left: 0;
  right: 0;
  padding-left: 20px;
  padding-right: 20px;
}

ion-card ion-card-header {
  padding: 5px;
}

ion-card ion-card-header ion-card-title {
  font-size: 16px;
  font-weight: bold;
  color: #CD8742;
  text-align: center;
  padding: 0;
}

ion-card ion-card-header ion-badge {
  --background: #283618;
}

ion-card ion-card-header ion-badge {
  margin-top: 15px;
  padding-bottom: 0;
}

ion-card ion-card-header .add {
  --background: #7F9270;
}
