ion-header{
  .banner{
    text-align:center;
    font-weight: bold;
    font-size:20px; 
    color: black;
  }
  .banner2{
    text-align:center;
    font-weight:bold;
    font-size: 20px;
    color: #c69f5d;
    margin-top: -20px;
  }
  
  ion-toolbar{
    --background: #f7eddb;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
}

.items{
  margin-bottom: 100px;
}
  
ion-content{
    --background:#f7eddb !important;
    font-family: Arial !important;

  .searchbar{
    padding:0px;
    position:absolute;
    left:0;
    right: 0;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 150px;

    ion-searchbar{
      --border-radius:10px;
     color:gray;
      --background:#f8f5f1;
    }
  }
}


ion-card{
  text-align: center;
  align-items: center;
  padding:0px;
  left:0;
  right: 0;
  padding-left: 20px;
  padding-right: 20px;

  ion-card-header{
    padding: 5px;
  
    ion-card-title{
      margin-top: 10px;
      font-size: 16px;
      font-weight: bold;
      color: #CD8742;
      text-align: center;
      padding: 0;
      margin-bottom: -10px;
    }

    ion-badge{
      --background: #283618;
      margin-bottom: -30px;
    }

    ion-img{
      margin-bottom: -20px;
    }

    .btn{
      --background: #7F9270;
      margin-bottom: 10px;
    }
  }
}


