<ion-header class="ion-no-border">
  <ion-toolbar class="main-toolbar">
    <p class="banner">Welcome to</p><p class="banner2">BOOKER</p>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="searchbar">
    <ion-searchbar animated placeholder="Search" [(ngModel)]="myInput" (keyup.enter)="loadNew($event)">
  </ion-searchbar>

  <div class="items">
      <ion-card *ngFor="let book of books">
        <ion-card-header>
          <ion-card-title>{{book.title}}</ion-card-title>
          <ion-badge >{{book.price}}</ion-badge>
          <ion-img [src]="book.image"></ion-img>
          <ion-button id="btn" class="btn" (click)="openModal(book)">Show more</ion-button>
          <ion-button id="btn" class="btn" (click)="addtocart(book)">Add to cart</ion-button>
        </ion-card-header>
      </ion-card>
    </div>
  </div>


</ion-content>
