<ion-header class="ion-no-border">
  <ion-toolbar style="background:#F4FAF6" class="main-toolbar">
      <p class="banner">Welcome to</p><p class="banner2">BOOKER</p>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="searchbar">
    <ion-searchbar placeholder="Search" no-shadow></ion-searchbar>
    <div>
      <ion-card *ngFor="let book of books">
        <ion-img [src]="book.image"></ion-img>
        <ion-card-header>
          <ion-card-title>{{book.title}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
  </div> 
</ion-content>
